<!doctype html>
<html>
<head>
  <title>Let's Play!</title>
</head>
<body>
    <form action="/madlib">
        Give me a name: <input type="text" name ="person">
        Give me a color:
            <select name="color">
                <option value="Blue">Blue</option>
                <option value="Red">Red</option>
                <option value="Chartreuse">Chartreuse</option>
            </select>
        Give me a noun: <input type="text" name ="noun">
        Give me an adjective: <input type="text" name ="adjective">
        <input type="submit">
    </form>
</body>
</html>